body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 120%;
}

li{
    margin: 20px;
    color: brown;
}.aba{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    background-color: #c4170c;
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 355px;
}
.g1{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
} 
h2{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    padding: 10px;
}
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    font-size: 120%;
}
.paragrafoVideo{
    color: gray;
    font-size: 13px;
}
